/* Ajustes para telas menores que 768px */
@media (max-width: 768px) {
    body {
        background-position: center;
        padding: 0 15px;
    }

    .slider {
        gap: 10px;
    }
}

/* Ajustes para telas menores que 496px */
@media (max-width: 496px) {
    .lista-personagens {
        width: 250px;
    }

    .imagem-carta {
        width: 100px;
    }

    .slider {
        position: relative;
    }

    .btn-seta {
        position: absolute;
        bottom: -13px;
    }

    .btn-avanca {
        right: 20%;
    }

    .btn-volta {
        left: 20%;
    }
}

/* Ajustes para telas menores que 375px */
@media (max-width: 375px) {
    body {
        display: flex;  /* Caso esteja usando flexbox */
        justify-content: flex-start;
        padding-top: 10px;
        gap: 10px;
    }

    .cabecalho {
        font-size: 12px;
    }
}